@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --btn1-color: #2c3e50;
  --btn2-color: #ed6755;
  --btn3-color: #1c1b5e;

  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background-color: #e5e5e5;
  color: var(--secondary-color);
}
section {
  background: var(--primary-color);
  width: 432px;
  height: 399px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.container {
  margin-top: 186px;
}

.btn {
  position: relative;
  margin: 20px 40px 0 90%;
  opacity: 0.3;
  width: 30px;
  height: 30px;
  border-top: 40px;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  height: 15px;
  transform: rotate(45deg);
  left: 15px;
  top: 7.5px;
  border: 1.875px solid #2c3e50;
}

.btn::after {
  content: "";
  position: absolute;
  height: 15px;
  transform: rotate(-45deg);
  left: 15px;
  top: 7.5px;
  border: 1.875px solid #2c3e50;
}

.container figure {
  margin-top: 10px;
  margin-bottom: 19px;
}
.container div p {
  margin: 0 50px 30px;
}
.container div a {
  background: var(--btn2-color);
  color: var(--primary-color);
  padding: 15px 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
}
/* segunda card */

.container-sesion figure {
  margin: 20px auto 30px;
}

.container-sesion div p {
  width: 203px;
  margin: auto;
  margin-bottom: 60px;
}

.container-sesion div a {
  background: var(--btn3-color);
  color: var(--primary-color);
  padding: 15px 50px;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nucba {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 25px;
}

footer img {
  display: flex;
  justify-content: center;
  width: 52px;
  height: 54px;
  margin: auto;
  margin-bottom: 40px;
}
