:root {
  --bg: #0b0e13;
  --color-tilte: #fcffff;
  --color-gray: #767680; /*! Mejorar Nombre*/
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fcffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--bg);
}

header {
  color: var(--color-tilte);
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9.6rem;
}

.main-nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.hamburger,
input {
  display: none;
}

.logo-container {
  width: 15%;
}

.nav-items {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.nav-items li {
  position: relative;
  cursor: pointer;
}

.nav-items li a {
  display: block;
  color: var(--color-tilte);
  transition: 0.5s;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
}

.nav-items li a:hover {
  color: var(--color-gray);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-items li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3rem;
  background-color: var(--color-tilte);
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

.nav-items li a:hover::after {
  transform: scale(1);
  opacity: 1;
}
/* ************************************************* */
.hero-bg {
  position: absolute;
  top: 0;
  z-index: -50;
  width: 100%;
  height: 1000px;
  opacity: 0.5;
  display: block;
}

.hero-bg div {
  height: 100%;
  width: 100%;
  background-image: url(../bg_lite.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
/* ***************************************************** */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero__content {
  width: 90%;
  max-width: 1250px;
  margin: auto;
}

.hero__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 4rem;
  padding-bottom: 2.4rem;
}

.hero__section {
  width: 85%;
}

.hero__heading {
  display: flex;
  font-weight: 700;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.hero__title {
  display: inline-block;
  max-width: 50rem;
  font-size: 5em;
  line-height: 7.6rem;
}

.hero__description {
  font-size: 1.6em;
  margin-top: 0.8rem;
  color: var(--color-gray);
  font-weight: 400;
}

.hero__button {
  margin-top: 2.4rem;
  display: flex;
  justify-content: flex-start;
}

.hero__button a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  padding: 1.6rem 4rem;
  border-radius: 9999px;
  background-color: rgb(244 119 21);
  text-transform: uppercase;
  transition: .5s;
}

.hero__button a:hover{
background-color: rgb(255, 102, 0);
background-origin: bottom ;
transition: .5s;
}

/* img container */
.hero__section__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3em;
  overflow: hidden;
}

.hero__section__container {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
  position: relative;
}

.hero__section__img figure {
  max-width: 450px;
  position: absolute;
  padding: 2em;/*!nose*/
  bottom: 0%;
  left: 0%;  
}

.hero__section__img img {
  width: 100%;
}
/* **************************************** */

.img__windowOn img {
  opacity: 0;   
  animation: onOff 5s linear 2s forwards,color1 1s step-end 5s forwards;
  animation-delay: 2s; 
}

.img__text figure {
    opacity: 0; 
  width: 18rem;
  bottom: 9.3rem;
  left: 22px;  
  animation: programming 1s ease-in-out 5s infinite alternate;
}

.img__text img { 
}
.w-little img {
    opacity: 0;
  position: absolute;
  left: 16rem;
  bottom: 11.6rem;
  width: 16rem;
   animation: programming 5s ease-in-out 8s forwards;
}
.img__circulos img {
  opacity: 0;
    width: 46rem;
  z-index: -1;
  position: absolute;
  bottom: .9rem;
  left: 0px;
   animation: programming 5s ease-in-out 15s forwards;
}
.img__text2 {
    transform: scale(0);
  position: absolute;
  top: 12.5rem;
  bottom: 22.7rem;
  left: 2.3rem;
  width: 14rem;
  animation: programming2 1s step-end 12s forwards;
}
.img__w-hight {
transform: scale(0);
    position: absolute;
    bottom: 12.1rem;
    left: 12.6rem;
    width: 24rem;
    animation: programming2 1s step-end 12s forwards;
}
.img__mult-w img {
    transform: scale(0);
  position: absolute;
  bottom: 20.3rem;
  left: 22.4rem;
  width: 22rem;
  animation: programming2 1s step-end 12s forwards;
  
}
/* ***************************************** */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8rem;
}

.about__content {
  width: 90%;
  max-width: 1250px;
  margin: auto;
}

.about__description {
  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 3rem;
  color: var(--color-gray);
}
.about__bg {
  position: absolute;
  background-attachment: fixed;
  background-image: url(../SVG/foot.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ******************************************** */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.card__content,
.contact__content {
  width: 90%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__title,
.contact__title {
  text-align: center;
  font-size: 4.6em;
  font-weight: 700;
  line-height: 5em;
}

.card__description {
  width: 85%;
  text-align: center;
  margin: auto;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 3rem;
  color: var(--color-gray);
}

.card__items__container {
  width: 85%;
  text-align: center;
  display: grid;
  gap: 40px;
  margin: 0;
  grid-auto-flow: column;
  place-content: center;
}

.card__border img {
  padding: 20%;
  background: linear-gradient(#4a6cfd 5%, #0000 0 95%, #4a6cfd 0) 100% 100%,
    linear-gradient(90deg, #4a6cfd 5%, #0000 0 95%, #4a6cfd 0) 100% 100%;
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
  cursor: pointer;
  padding: 20%;
  background-size: 50% 58%;
}

.card__border img:hover {
  background-position: 42px;
  background-size: 74% 74%;
  filter: grayscale(0);
  transition: 0.5s;
}

.card__items__title {
  margin-top: 0.5em;
  font-size: 2em;
}

.card__items__description {
  width: 90%;
  margin: auto;
  font-size: 1.1rem;
  margin-top: 1.6rem;
}

.card__items__button {
  padding: 2rem;
  font-size: 2em;
  font-weight: 700;
}

.card__items__button a {
  background-color: orange;
  padding: 1rem 2rem;
  border-radius: 3rem;
  transition: .5s;
}

.card__items__button a:hover{
background-color: rgb(255, 102, 0);
background-origin: bottom ;
transition: .5s;
}
/* ********************** */

.contact {
  background-image: url(../SVG/foot.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 8em;
  width: 100%;
}

.contact__body {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 4em;
  padding: .5em;
}

.icon {
  color: #fff;
  animation: first-color 0.5s ease-in-out infinite alternate;
}
.contact__body a:nth-child(2) > .icon {
  animation-name: second-color;
}
.contact__body a:nth-child(3) > .icon {
  animation-name: thrird-color;
}
.contact__body a:nth-child(4) > .icon {
  animation-name: fourth-color;
}

.icon:hover{
    transform: scale(1.2);
}
footer{
    width: 100%;    
}

.foot__content {
width: 90%;
max-width: 1250px;
display: flex;
justify-content: center;
align-items: end;
margin: auto;
padding: 1.6rem;
font-size: 1.6rem;
}
/*  redes */

@keyframes first-color {
  0% {
    text-shadow: 0 0 10px #020202, 0 0 20px #f3e7e7, 0 0 30px #020202;
  }
  100% {
    text-shadow: 0 0 5px #020202, 0 0 10px #f3e7e7, 0 0 15px #020202;
  }
}
@keyframes second-color {
  0% {
    text-shadow: 0 0 10px #1877f2, 0 0 20px #1459b3, 0 0 30px #179bff;
  }
  100% {
    text-shadow: 0 0 5px #1877f2, 0 0 10px #1459b3, 0 0 15px #179bff;
  }
}
@keyframes thrird-color {
  0% {
    text-shadow: 0 0 10px #25d336, 0 0 20px #48ee85, 0 0 30px #0ec0a5;
  }
  100% {
    text-shadow: 0 0 5px #25d336, 0 0 10px #48ee85, 0 0 15px #0ec0a5;
  }
}
@keyframes fourth-color {
  0% {
    text-shadow: 0 0 10px #ffd0e5, 0 0 20px #f8a0dc, 0 0 30px #285aeb;
  }
  100% {
    text-shadow: 0 0 5px #f1c8da, 0 0 10px #fcf7fa, 0 0 15px #285aeb;
  }
}

/* animaciones compu */
@keyframes onOff {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes programming {
    0%{
        opacity: 0;
       
    }
    50%{
        opacity: 1;
       
    }
    100%{
         opacity: 1;
        
    }
}

@keyframes programming2  {
    0% {
        transform: scale(1);
        transform: translate(-29% ,73%);
    }
    100%{
        transform: translate(0% , 0%);
    }
}

@keyframes color1 {
    0% {
       filter: drop-shadow(12px 2px 14px rgb(177, 175, 175));
    }
    100%{
         filter: drop-shadow(12px 2px 14px white);
    }
}
